* {
    box-sizing: border-box;
    }
.body {
    margin: 0;

    }
.header {
    background-image:url(Header.jpg);
    background-size: 100% 100%;
    background-attachment: scroll;
    max-width: 100vw;
    height: auto;
    min-height: 26vw;
    box-shadow: 3px 3px 50px;
    }
.headers-header {
    text-decoration: underline;
    font-size: 5vw;
    color: rgb(228, 237, 245);
    text-shadow: 1px 1cqb 7px;
    }
.navbar {
    list-style-type: none;
    background-color: rgba(205, 214, 226, 0.8);
    max-width: 100%;
    height: auto;
    overflow: hidden;
    padding: 0;
    margin-top: 120px;
    }
.navbar li {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    float: left; width: 11vw;
    
    }
.navbar li a {
        font-weight: bold;
        font-size: 1.7vw;
        text-decoration: none;
        color: rgb(255, 255, 255);
        border-right: 1px solid seashell;
        /* Important reminder to myself:
        I had used the float=left attribute + a width of 20% here
        instead of the .navbar li part,
        so the results were different (keep i mind). */
        display: block;
        padding: 16px;
        text-align: center;
        transition: all 0.2s;
        
    }
.navbar li a:hover {
    background-color: rgb(51, 137, 158);
}

li a.Join {
    display: block;
    height: auto;
    font-size: small;
    text-align: center;
    background-color: rgb(66, 121, 153);
}
