       body {
            margin: 0%;
            background-color: rgba(7, 32, 53, 0.9);
            }

		.header {
			max-width: 100%;
			min-height: 500px;
			background-image: url(Images/1.jpg);
			background-size: cover;
			background-repeat: no-repeat;
      background-attachment: scroll;
			text-align:center;
			color:white;
			padding: 10px;
			margin: none;
			font-size: 17px;
		  box-shadow: 1px 1px 1px rgba(7, 32, 53, 0.9);
	          }

    .container-div {
      background-image: url(Images/faefeafe.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment:scroll;
      min-height: 379px;
      margin-top: 10px;
      max-width:100%;
            }

		.NavBar {
			list-style-type: none;
			background-color: rgba(47, 87, 147, 0.1);
			overflow: hidden;
			padding:0px;
			margin: 0px;
			margin-bottom: 10px;
		    max-width: 100%;
		        }

		.NavBar li { 
			font-family: Arial, Helvetica, sans-serif;
             max-width:100% ; margin:;
			box-sizing: border-box;
             border-bottom: 0.5px solid rgb(141, 109, 109);}

		.NavBar li a {
			min-height: 41px;
			font-size: 16px;
			display: block;
			color: aliceblue;
			padding: 16px;
			font-weight: bold;
			text-decoration:bold;
			text-align: center;
			transition: background-color 0.20s, opacity 0.20s; }

		.NavBar li a:hover{
			background-color: rgba(47, 87, 147, 0.6);}

		.NavBar li a.active {
			background-color: rgba(47, 87, 147, 0.6);}

      

			
        .SearchBar {
            font-size: 20px;
            }